.element{
	margin:2px;
	width:98%;
	overflow: hidden;
	padding:3px;
	border:2px solid #CCC;
  border-radius:4px;
}

.element .bandClick{
  float:left;
  width: 95%;
}

.bandShortInfo{
	height:100px;
	background-color:#000;
	position: relative;
	color:white;
	padding:10px;
	padding-top:8px;
	top: 15px;
}

.bandLargeInfo{
	float:right;
	width:600px;
	margin-top:10px;
}

.bandInfoLeft{
  float:left;
}

.large{
	width:922px !important;
	height:350px !important;
}

.lastShow{
  color:#CCC;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.clear{
  clear:both;
}