.element{
	margin:2px;
	width:98%;
	overflow: hidden;
	padding:3px;
	border:2px solid #CCC;
  border-radius:4px;
  float:left;
}

.element .bandClick{
float: left;
width: 99%;
margin-bottom: 7px;
font-size: 20px;
margin-top: 7px;
padding-left: 5px;
}

.miniInfo{
  font-size:12px;
  display: inline-block;
  color:#CCC;
  float:right;
  text-align:right;
}

.bandLargeInfo{
	float:right;
	width:605px;
	margin-top:10px;
}

.bandInfoLeft{
  float:left;
  width: 290px;
  margin-left: 5px;
}

.bandFunctions{
  margin-top:10px;
}

.large{
	width:922px !important;
	height:615px !important;
}

.bandList{
  margin-bottom: 10px;
}

#stats{
  text-align: center;
  margin-bottom: 10px;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


.clear{
  clear:both;
}